[*.cs]
dotnet_diagnostic.IDE0074.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0305.severity = none
dotnet_diagnostic.IDE0052.severity = info